@import "tailwindcss";
@import "@nuxt/ui";

:root {
  --font-sans: 'Geist', sans-serif;
  --font-mono: 'Jetbrains Mono', monospace;
  
  --ui-primary: black;
  --ui-radius: 0;

  ::selection {
    color: #282a30;
    background-color: #c8c8c8;
  }
}

.dark {
  --ui-primary: white;
  --ui-bg: #0d0d0d;

  ::selection {
    color: #ffffff;
    background-color: #474747;
  }
}

.bg-stripes {
  width: 100%;
  background-size: 4px 4px;
}

.dark .bg-stripes {
  background-image: linear-gradient(-45deg,var(--color-neutral-700) 12.50%,transparent 12.50%,transparent 50%,var(--color-neutral-700) 50%,var(--color-neutral-700) 62.50%,transparent 62.50%,transparent 100%);
}

:not(.dark) .bg-stripes {
  background-image: linear-gradient(-45deg,var(--color-neutral-200) 12.50%,transparent 12.50%,transparent 50%,var(--color-neutral-200) 50%,var(--color-neutral-200) 62.50%,transparent 62.50%,transparent 100%);
}

.cross {
  position: relative;
}

.cross::before {
  position: absolute;
  top: -4px;
  background-color: var(--color-inverted, currentColor);
  content: '';
  width: 1px;
  height: 9px;
}

.cross::after {
  position: absolute;
  left: -4px;
  background-color: var(--color-inverted, currentColor);
  content: '';
  width: 9px;
  height: 1px;
}
